:root{
    --cor-primaria: #4812e9;
    --cor-secundaria: #12a1e9;
    --cor-fundo: #4406ff;
    --cor-texto: #efedf3;
    --cor-contraste: #ad9ce0;
    --cor-botao: #7fc9d3;
}


header {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid var(--cor-fundo);
    padding: 16px;
}

main {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-align: center;
    margin: 0 auto;
}

img {
    width: 180px;
    height: 180px;
}